{% extends 'base.html.twig' %}

{% block title %}{{ 'title.edit_profile'|trans }}{% endblock %}

{% block main %}
        <h1 class="page-title text-center mb-5">{{ 'title.edit_profile'|trans }}</h1>
    {{ dump(articles) }}

{% endblock %}
{% block sidebar %}

    {% include('profile/_widget.html.twig') %}

    {{ parent() }}

{% endblock %}