{% extends 'base.html.twig' %}

{% block title %}{{ user.name }} - {{ 'Articles'|trans }}{% endblock %}

{% block main %}
        <h1 class="page-title text-center mb-5">{{ 'Articles'|trans }}</h1>
{% endblock %}
{% block sidebar %}

    {% include('profile/_widget.html.twig') %}

    {{ parent() }}

{% endblock %}