{% extends 'base.html.twig' %}

{% block body_class 'blog_search' %}

{% block main %}

    <form action="{{ path('article_search') }}" method="get">
        <div class="form-group">
            <input name="q"
                   class="form-control search-field"
                   placeholder="{{ 'Search...' | trans }}"
                   autocomplete="off"
                   value="{{ query }}"
                   autofocus
                   data-no-results-message="{{ 'No articles found'|trans }}">
        </div>
    </form>

    <div id="results">
    </div>

{% endblock %}


